<h1>Add category</h1>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<form action="/categories/add" method="POST">
	<label for="categoryName">Description</label>
	<input type="text" name="cat_name" value="{{data.cat_name}}">
	<input type="submit">
</form>
