<h1>Add product</h1>

<form action="/products/add" method="POST">
	<label for="productName">Description</label>
	<input type="text" name="product_name" value="{{product_name}}">
	<input type="submit">
</form>
