<div class="row">
  <div class="col-md-11">
    <h1>Categories</h1>
    <a class="btn btn-info" href="/categories/add">Add new category</a>
    <table class="table table-striped">
      <tr>
        <th> Category ID </th>
        <th> Category Name </th>
        <th> </th>
        <th> </th>
      </tr>
    {{#categories}}
      <tr>
        <td> <h4> {{cat_id}} </h4> </td>
        <td> <h4> {{cat_name}}</h4> </td>
        <td> <h4> <a href="/categories/edit/{{id}}">Edit</a> </h4></td>
        <td> <h4> <a href="/categories/delete/{{id}}">Delete</a> </h4></td>
      </tr>
    {{/categories}}
    </table>
  </div>
</div>
