<body class="body">
  <div class="row">
  <div class="col-md-11">


  <div class="text-center">
    {{#if is_admin}}
      <h1 id="heading"> Welcome to Nelisa's Spaza Shop, Admin user {{username}}! </h1><br>
      <img src="../images/fruitandveg3.jpg" alt="Shop" style="width:304px;height:228px;">
    {{else}}
      <h1 id="heading"> Welcome to Nelisa's Spaza Shop, {{username}}! </h1><br>
      <img src="../images/fruitandveg3.jpg" alt="Shop" style="width:304px;height:228px;">
    {{/if}}
  </div>

  <div class="text-center" id="tradingHours"> <br><br>
    <b><p>Trading Hours</p>
    <li>Monday-Friday: 7:30AM - 19:00PM </li>
    <li>Saturday     : 7:30AM - 14:00PM </li>
    <li>Sunday       : 9:00AM - 13:00PM </li></b> <br><br><br>
    <b>Designed by Samantha Hoy</b>

  </div>
</div>
</div>
</body>
