<body class="body">
  <div class="row">
  <div class="col-md-11">
  <div class="text-center">
    <h1 id="heading"> Nelisa's Spaza Shop </h1><br>
    <img src="../images/slicedorange.jpg" alt="Shop" style="width:304px;height:228px;">
  </div>

  <div class="text-center" id="tradingHours"> <br><br>
    <b><p>Trading Hours</p><b>
    <li>Monday-Friday: 7:30AM - 19:00PM </li>
    <li>Saturday     : 7:30AM - 14:00PM </li>
    <li>Sunday       : 9:00AM - 13:00PM </li>
  </div>

    <!-- <div class="col-md-6 text-right">Website designed by Samantha Hoy </div> -->



</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6"><span class="pull-right">Designed by Samantha Hoy</span></div>
  </div>
</div>
</body>
