<div class="row">
  <div class="col-md-11">
    <h1>Products</h1>
    <a class="btn btn-info" href="/products/add">Add new product</a>
    <table class="table table-striped">
      <tr>
        <th> Product ID </th>
        <th> Product Name </th>
        <th> </th>
        <th> </th>
      </tr>
    {{#products}}
      <tr>
        <td> <h4> {{prod_id}} </h4> </td>
        <td> <h4> {{product_name}}</h4> </td>
        <td> <h4> <a href="/products/edit/{{id}}">Edit</a> </h4></td>
        <td> <h4> <a href="/products/delete/{{id}}">Delete</a> </h4></td>
      </tr>
    {{/products}}
    </table>
  </div>
</div>
